/* #style 1 (DARK keyboard DARK buttons) BEGIN */

body {
	background: #eee;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}



/* #screen BEGIN */

#screen {
	margin: 20px auto;
}

#screen form textarea {
	width: 928px;
	max-width: 960px;
	height: 230px;
	max-height: 230px;
	padding: 15px;
	border: 1px solid #bbb;
	border-radius: 8px;
	color: #444;
	font-family: 'arial';
	font-size: 130%;
	text-shadow: 1px 1px 0 #ccc;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fff, #f5f5f5); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fff, #f5f5f5); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fff, #f5f5f5); /* IE10 */
	background-image:      -o-linear-gradient(top, #fff, #f5f5f5); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f5f5f5'); /* IE6–IE9 */
	-moz-box-shadow:    inset 0 0 10px #999;
	-webkit-box-shadow: inset 0 0 10px #999;
	box-shadow:         inset 0 0 10px #999;
}

/* #screen END */



/* #keyboard BEGIN */

#keyboard {
	width: 930px;
	margin: 20px auto;
	padding: 15px;
	font-family: 'arial';
	font-size: small;
	font-weight: bold;
	border-radius: 8px;
	background: #151515;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#0c0c0c)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #1c1c1c, #0c0c0c); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #1c1c1c, #0c0c0c); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #1c1c1c, #0c0c0c); /* IE10 */
	background-image:      -o-linear-gradient(top, #1c1c1c, #0c0c0c); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #1c1c1c, #0c0c0c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1c1c1c', EndColorStr='#0c0c0c'); /* IE6–IE9 */
	-moz-box-shadow:    inset 0 0 5px #999,
						0 3px 5px #000;
	-webkit-box-shadow: inset 0 0 5px #999,
						0 3px 5px #000;
	box-shadow:         inset 0 0 5px #999,
						0 3px 5px #777;
}

#keyboard ul {
	margin: 0;
	padding: 0;
	font-size: 110%;
}

#keyboard ul li {
	float: left;
	width: 37px;
	height: 37px;
	margin: 2px;
	padding: 12px 8px 8px 12px;
	color: #ddd;
	font-size: 130%;
	text-shadow: 0 0 1px #111,
				 0 0 2px #222,
				 0 0 3px #333;
	list-style-type: none;
	border-top: 1px solid #555;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 5px;
	border-top-left-radius: 4px;
	background: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#2e2e2e)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #383838, #2e2e2e); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #383838, #2e2e2e); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #383838, #2e2e2e); /* IE10 */
	background-image:      -o-linear-gradient(top, #383838, #2e2e2e); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #383838, #2e2e2e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#383838', EndColorStr='#2e2e2e'); /* IE6–IE9 */
	-moz-box-shadow:    0 2px 4px #000,
						inset 0 1px 1px #151515,
						inset 0 0 2px #151515,
						inset 0 0 10px #4c4c4c,
						inset 0 0 15px #3c3c3c;
	-webkit-box-shadow: 0 2px 4px #000,
						inset 0 1px 1px #151515,
						inset 0 0 2px #151515,
						inset 0 0 10px #4c4c4c,
						inset 0 0 15px #3c3c3c;
	box-shadow:         0 2px 4px #000,
						inset 0 -1px 1px #151515,
						inset 0 -2px 2px #151515,
						inset 0 0 10px #4c4c4c,
						inset 0 0 15px #3c3c3c;
}

#keyboard ul li:last-child {
	float: right;
}

#keyboard ul li:hover {
	color: #fff;
	background: #444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#3c3c3c)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #484848, #3c3c3c); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #484848, #3c3c3c); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #484848, #3c3c3c); /* IE10 */
	background-image:      -o-linear-gradient(top, #484848, #3c3c3c); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #484848, #3c3c3c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#484848', EndColorStr='#3c3c3c'); /* IE6–IE9 */
}

#keyboard ul li.double-character {
	padding: 8px 8px 12px 12px;
	font-size: 120%;
}

#keyboard ul li.double-character span.shift-character {
	font-size: 80%;
}

#keyboard ul li span {
	display: block;
	margin-bottom: 4px;
	color: #888;
}

#keyboard ul li:hover span {
	color: #bbb;
}

#keyboard .small-text {
	font-size: 80%;
}

#keyboard ul li.letter {
	font-size: 140%;
	text-transform: uppercase;
}



/* #keyboard #funtion-row BEGIN */

#keyboard #function-row .small-text-button { padding: 10px; }

ul#function-row { height: 20px; }

ul#function-row.row li { height: 18px; }

ul#function-row.row li#esc.space { margin-right: 42px; }

ul#function-row.row li.space { margin-right: 44px; }

/* #keyboard #funtion-row END */



/* #keyboard #number-row BEGIN */

ul#number-row.row { margin-top: 5px; }

ul#number-row.row li:last-child { width: 99px; }

/* #keyboard #number-row END */



/* #keyboard #qwerty-row BEGIN */

ul#qwerty-row.row li:first-child, ul#qwerty-row.row li:last-child { width: 68px; }

/* #keyboard #qwerty-row END */



/* #keyboard #capslock-row BEGIN */

ul#capslock-row.row li:first-child { width: 86px; }

ul#capslock-row.row li:last-child { width: 112px; }

/* #keybaord #capslock-row END */



/* #keyboard #shift-row BEGIN */

ul#shift-row.row li:first-child, ul#shift-row.row li:last-child { width: 130px; }

/* #keyboard #shift-row END */



/* #keyboard #spacebar-row BEGIN */

ul#spacebar-row.row li { width: 52px; }

ul#spacebar-row.row li#spacebar { width: 441px; }

ul#spacebar-row.row li:first-child, ul#spacebar-row.row li:last-child { width: 53px; }
 
/* #keyboard #spacebar-row END */




/* ol#css-styles BEGIN */

ol#css-styles {
	float: left;
	margin: 6px 0 0 6px;
	padding: 0;
	font-size: 10px;
	text-transform: uppercase;
}

ol#css-styles li {
	float: left;
	margin-right: 15px;
	list-style-type: none;
}

ol#css-styles li span.indicator-light {
	position: relative;
	top: 1px;
	float: left;
	display: block;
	width: 4px;
	height: 8px;
	margin-right: 8px;
	border-top: 1px solid #090909;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	border-left: 1px solid #090909;
	background: #333;
}

ol#css-styles li span.indicator-light.active {
	position: relative;
	top: 1px;
	float: left;
	display: block;
	width: 4px;
	height: 8px;
	margin-right: 8px;
	border-top: 1px solid #338000;
	border-right: 1px solid #ddff00;
	border-bottom: 1px solid #ddff00;
	border-left: 1px solid #338000;
	background: #a2ff00;

	-moz-box-shadow:    0 0 4px #518000;
	-webkit-box-shadow: 0 0 4px #518000;
	box-shadow:         0 0 12px #518000;
}

ol#css-styles li a {
	padding: 0 3px 1px 3px;
	border-top: 1px solid #333;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #333;
	border-radius: 3px;
	border-top-left-radius: 2px;
	color: #444;
	text-shadow: 0 -1px 0 #000;
	text-decoration: none;
	background: #181818;
}

ol#css-styles li a:hover {
	color: #777;
	background: #292929;
}

/* ol#css-styles END */



/* Copyright BEGIN */

p#source {
	float: right;
	margin: 6px 4px 0 4px;
	color: #444;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 -1px 0 #000;
	text-transform: uppercase;
}

p#source a {
	color: #444;
	text-decoration: none;
}

p#source a:hover {
	color: #555;
	text-decoration: underline;
}

/* #keyboard END */

/* #style1 (DARK keyboard DARK buttons) END */