/* #style3 (LIGHT keyboard LIGHT buttons) BEGIN */

body {
	background: #eee;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}



/* #screen BEGIN */

#screen {
	margin: 20px auto;
}

#screen form textarea {
	width: 928px;
	max-width: 960px;
	height: 230px;
	max-height: 230px;
	padding: 15px;
	border: 1px solid #bbb;
	border-radius: 8px;
	color: #444;
	font-family: 'arial';
	font-size: 130%;
	text-shadow: 1px 1px 0 #ccc;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fff, #f5f5f5); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fff, #f5f5f5); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fff, #f5f5f5); /* IE10 */
	background-image:      -o-linear-gradient(top, #fff, #f5f5f5); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#f5f5f5'); /* IE6–IE9 */
	-moz-box-shadow:    inset 0 0 10px #999;
	-webkit-box-shadow: inset 0 0 10px #999;
	box-shadow:         inset 0 0 10px #999;
}

/* #screen END */



/* #keyboard BEGIN */

#keyboard {
	width: 930px;
	margin: 20px auto;
	padding: 15px;
	font-family: 'arial';
	font-size: small;
	font-weight: bold;
	border-radius: 8px;
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #eee, #ddd); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #eee, #ddd); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #eee, #ddd); /* IE10 */
	background-image:      -o-linear-gradient(top, #eee, #ddd); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #eee, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#ddd'); /* IE6–IE9 */
	-moz-box-shadow:    inset 0 0 5px #999,
						0 3px 5px #000;
	-webkit-box-shadow: inset 0 0 5px #999,
						0 3px 5px #000;
	box-shadow:         inset 0 0 5px #999,
						0 3px 5px #777;
}

#keyboard ul {
	margin: 0;
	padding: 0;
	font-size: 110%;
}

#keyboard ul li {
	float: left;
	width: 37px;
	height: 37px;
	margin: 2px;
	padding: 12px 8px 8px 12px;
	color: #666;
	font-size: 130%;
	text-shadow: 1px 0 1px #fafafa,
				 -1px 0 1px #fafafa,
				 0 1px 1px #fafafa,
				 0 -1px 1px #fafafa;
	list-style-type: none;
	border-top: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #aaa;
	border-radius: 5px;
	border-top-left-radius: 4px;
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f5f5f5)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fefefe, #f5f5f5); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fefefe, #f5f5f5); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fefefe, #f5f5f5); /* IE10 */
	background-image:      -o-linear-gradient(top, #fefefe, #f5f5f5); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fefefe, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f5f5f5'); /* IE6–IE9 */
	-moz-box-shadow:    0 2px 3px #777,
						1px 0 0 #c5c5c5,
						-1px 0 0 #c5c5c5,
						inset 0 -1px 1px #ccc,
						inset 0 0 10px #f5f5f5,
						inset 0 0 15px #fff;
	-webkit-box-shadow: 0 2px 3px #777,
						1px 0 0 #c5c5c5,
						-1px 0 0 #c5c5c5,
						inset 0 -1px 1px #ccc,
						inset 0 0 10px #f5f5f5,
						inset 0 0 15px #fff;
	box-shadow:         0 2px 3px #777,
						1px 0 0 #c5c5c5,
						-1px 0 0 #c5c5c5,
						inset 0 -1px 1px #ccc,
						inset 0 0 10px #f5f5f5,
						inset 0 0 15px #fff;
}

#keyboard ul li:last-child {
	float: right;
}

#keyboard ul li:hover {
	color: #4c4c4c;
	background: #fff;
}

#keyboard ul li.double-character {
	padding: 8px 8px 12px 12px;
	font-size: 120%;
}

#keyboard ul li.double-character span.shift-character {
	font-size: 80%;
}

#keyboard ul li span {
	display: block;
	margin-bottom: 4px;
	color: #888;
}

#keyboard ul li:hover span {
	color: #666;
}

#keyboard .small-text {
	font-size: 80%;
}

#keyboard ul li.letter {
	font-size: 140%;
	text-transform: uppercase;
}



/* #keyboard #funtion-row BEGIN */

#keyboard #function-row .small-text-button { padding: 10px; }

ul#function-row { height: 20px; }

ul#function-row.row li { height: 18px; }

ul#function-row.row li#esc.space { margin-right: 42px; }

ul#function-row.row li.space { margin-right: 44px; }

/* #keyboard #funtion-row END */



/* #keyboard #number-row BEGIN */

ul#number-row.row { margin-top: 5px; }

ul#number-row.row li:last-child { width: 99px; }

/* #keyboard #number-row END */



/* #keyboard #qwerty-row BEGIN */

ul#qwerty-row.row li:first-child, ul#qwerty-row.row li:last-child { width: 68px; }

/* #keyboard #qwerty-row END */



/* #keyboard #capslock-row BEGIN */

ul#capslock-row.row li:first-child { width: 86px; }

ul#capslock-row.row li:last-child { width: 112px; }

/* #keybaord #capslock-row END */



/* #keyboard #shift-row BEGIN */

ul#shift-row.row li:first-child, ul#shift-row.row li:last-child { width: 130px; }

/* #keyboard #shift-row END */



/* #keyboard #spacebar-row BEGIN */

ul#spacebar-row.row li { width: 52px; }

ul#spacebar-row.row li#spacebar { width: 441px; }

ul#spacebar-row.row li:first-child, ul#spacebar-row.row li:last-child { width: 53px; }
 
/* #keyboard #spacebar-row END */



/* ol#css-styles BEGIN */

ol#css-styles {
	float: left;
	margin: 6px 0 0 6px;
	padding: 0;
	font-size: 10px;
	text-transform: uppercase;
}

ol#css-styles li {
	float: left;
	margin-right: 15px;
	list-style-type: none;
}

ol#css-styles li span.indicator-light {
	position: relative;
	top: 1px;
	float: left;
	display: block;
	width: 4px;
	height: 8px;
	margin-right: 8px;
	border-top: 1px solid #888;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	border-left: 1px solid #888;
	background: #bbb;
}

ol#css-styles li span.indicator-light.active {
	position: relative;
	top: 1px;
	float: left;
	display: block;
	width: 4px;
	height: 8px;
	margin-right: 8px;
	border-top: 1px solid #338000;
	border-right: 1px solid #ddff00;
	border-bottom: 1px solid #ddff00;
	border-left: 1px solid #338000;
	background: #a2ff00;

	-moz-box-shadow:    0 0 4px #518000;
	-webkit-box-shadow: 0 0 4px #518000;
	box-shadow:         0 0 12px #518000;
}

ol#css-styles li a {
	padding: 1px 3px 1px 3px;
	border-top: 1px solid #eee;
	border-right: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	border-left: 1px solid #eee;
	border-radius: 3px;
	border-top-left-radius: 2px;
	color: #555;
	text-shadow: 0 1px 0 #e5e5e5;
	text-decoration: none;
	background: #bbb;
}

ol#css-styles li a:hover {
	color: #666;
	background: #ccc;
}

/* ol#css-styles END */



/* Copyright BEGIN */

p#source {
	float: right;
	margin: 6px 4px 0 4px;
	color: #777;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
}

p#source a {
	color: #777;
	text-decoration: none;
}

p#source a:hover {
	color: #666;
	text-decoration: underline;
}

/* #keyboard END */

/* #style3 (LIGHT keyboard DARK buttons) END */