@import "bourbon/bourbon";
@import "neat/neat";

body {
  font-family: $helvetica;
  background-image: url('/virtual-keyboard/img/bg.png');
  background-position: top left;
  background-repeat: repeat;
}

.wrapper {
  @include outer-container;
  max-width: 960px;
}

.screen {
  margin: 40px 0 10px;
}
.screen textarea {
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  @include pad(10px);
  border-radius: 8px;
  border: 1px solid #bbb;
  color: #444;
  @include linear-gradient(#fff, #ddd);
  @include box-shadow(inset 0 0 10px 0 #999, 0 0 15px 0 #ccc);
}

.keyboard {
  @include pad(15px 15px 11px);
  border-radius: 8px;
  font-size: 120%;
}
.keyboard > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix;
}
.keyboard > ul > li {
  line-height: 1;
}

.keys {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}

.keys > li {
  position: relative;
  float: left;
  width: 57px;
  height: 57px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-left: none;
}
li.hover {
  top: 2px;
}
li.caps-lock.hover,
li.backspace.hover,
li.enter.hover {
  top: 0;
}
.keys > li:active {
  top: 2px;
}

li.alpha {
  clear: left;
}
li.omega {
  @include omega;
}

li.gap {
  margin-right: 41px;
}

li.modifier {
  font-size: 60%;
  text-transform: capitalize;
}

li.double-character {
  font-size: 80%;
}

li.marker {
  position: relative;
}
li.marker:after {
  content: '';
  position: absolute;
  bottom: 12px;
  right: 33%;
  width: 19px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

li.escape {
  height: 40px;
}
li.backspace {
  width: 108px;
}
li.tab {
  width: 83px;
}
li.backslash {
  width: 82px;
}
li.caps-lock {
  width: 108px;
}
li.enter {
  width: 120px;
}
li.shift.left {
  width: 145px;
}
li.shift.right {
  width: 146px;
}
li.ctrl {
  width: 83px;
}
li.alt {
  width: 83px;
}
li.windows-key {
  width: 83px;
}
li.space-bar {
  width: 393px;
}

.keys span {
  display: block;
  margin: 10px 0 0 13px;
}
li.double-character > span {
  margin: 7px 0 0 9px;
}
span.active {

}
span.inactive {
  font-size: 80%;
}

ul.toggle-css > li {
  @include inline-block;
  margin-right: 4px;
  @include pad(3px 4px);
  border-radius: 3px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid transparent;
  font-size: 50%;
 }
ul.toggle-css > li > i {
  @include inline-block;
  opacity: 0.7;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  border: 1px solid transparent;
}
ul.toggle-css > li:hover > i {
  opacity: 1;
  border: 1px solid #1B75BB;
  background-color: #27A9E1;
  @include box-shadow(0 0 4px 0 #27A9E1);
}
