@import "bourbon/bourbon";
@import "neat/neat";

/* ==========================================================================
   Styling for Light Keyboard
   ========================================================================== */

#keyboard {
  color: #666;
  @include linear-gradient(#eee, #ddd);
  @include box-shadow(inset 0 0 5px 0 #999, 0 3px 5px #777);
}

.keys > li {
  border-color: #d5d5d5;
  border-bottom-color: #aaa;
  @include linear-gradient(#fefefe, #f5f5f5);
  @include box-shadow(0 2px 3px 0 #777,
    1px 0 0 0 #c5c5c5,
    -1px 0 0 0 #c5c5c5,
    inset 0 -1px 1px 0 #ccc,
    inset 0 0 10px 0 #f5f5f5,
    inset 0 0 15px 0 #fff);
}
.keys > li.hover,
.keys > li:hover {
  background: #EFECCE;
}

.keys > li > span {
  text-shadow: 1px 0 1px #fafafa,
  -1px 0 1px #fafafa,
  0 1px 1px #fafafa,
  0 -1px 1px #fafafa;
}
.keys > li.hover > span,
.keys > li:hover > span {
  color: #4c4c4c;
}

li.short-key,
li.modifier,
.double-character > span:last-of-type {
  color: #999;
}

ul.toggle-css > li {
  cursor: pointer;
  color: #555;
  text-shadow: inset 0 1px 0 #fff;
  border-color: #8f8f8f;
  border-top-color: #eee;
  border-left-color: #eee;
  background-color: #bbb;
}
.toggle-css > li:hover {
  color: #666;
  background-color: #ccc;
}

ul.toggle-css > li > i {
  border-color: #555;
  background-color: #666;
}
li#light-css > i {
  border: 1px solid #38B449;
  background-color: #F8ED31;
  @include box-shadow(0 0 4px 0 #F8ED31);
}
